<head>
  <link rel="stylesheet" href="/static/index.css" />
  <title>All Published</title>
  <style>
    header,
    li p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
    .wrapper {
      max-width: 60rem;
      margin: auto;
    }
    .right {
      text-align: right;
    }
  </style>
</head>

<div class="wrapper">
  <header>
    <h1>All Published Articles</h1>
  </header>

  <main>
    <ul>
      {{range .}}
      <li>
        <p>
          <a href="/articles/{{.Slug}}"> {{.Title}} </a>
          <i>{{.PubDate}}</i>
        </p>
      </li>
      {{end}}
    </ul>
  </main>
</div>
