<head>
  <link rel="stylesheet" href="/static/index.css" />
  <title>Error</title>
  <style>
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
    .wrapper {
      max-width: 60rem;
      margin: auto;
    }
    .right {
      text-align: right;
    }
  </style>
</head>

<div class="wrapper">
  <header>
    <h1>Oops! Something went wrong</h1>
    <p>
      <a href="/">← Back to Home</a>
    </p>
  </header>
  <p>{{.}}</p>
</div>
