<head>
  <link rel="stylesheet" href="/asset/index.css" />
</head>

<style>
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper {
    max-width: 60rem;
    margin: auto;
  }
  .right {
    text-align: right;
  }
</style>

<div class="wrapper">
  <header>
    <h1>{{.Title}}</h1>

    <form action="/admin/articles/{{.Slug}}" method="get">
      <input type="hidden" name="action" value="edit" />
      <input type="submit" value="Edit" />
    </form>
  </header>

  <p class="right">
    <i>{{.PubDate}}</i>
  </p>

  <div>{{.Body}}</div>
</div>
